/* Themes */

.sheet-theme-toggle[value="light"] ~ div.sheet-container {
  --background: #f8f8f8;
  --border: #e0e0e0;
  --main-text: #303030;
}

.sheet-theme-toggle[value="dark"] ~ div.sheet-container {
  --background: #303030;
  --border: #505050;
  --main-text: #f8f8f8;
}

/* Visibility */

button.sheeet-tab-selection-option {
  display: none;
}

.sheet-mecha,
.sheet-pilot,
.sheet-tab-combat,
.sheet-tab-config,
.sheet-tab-journal,
.sheet-tab-mecha,
.sheet-tab-pilot,
input.sheet-hidden-setting {
  display: none;
}
.sheet-char-type-toggle[value="mecha"] ~ div button.sheet-mecha,
.sheet-char-type-toggle[value="pilot"] ~ div button.sheet-pilot {
  display: grid;
}

.sheet-tabs-toggle[value="combat"] ~ div.sheet-tab-combat,
.sheet-tabs-toggle[value="configuration"] ~ div.sheet-tab-config,
.sheet-tabs-toggle[value="journal"] ~ div.sheet-tab-journal,
.sheet-tabs-toggle[value="mecha"] ~ div.sheet-tab-mecha,
.sheet-tabs-toggle[value="pilot"] ~ div.sheet-tab-pilot {
  display: block;
}

/* Styling */
.sheet-container {
  --oneSolidBorder: 1px var(--border) solid;
  min-width: 680px;
}

h2 {
  color: var(--main-text);
  margin-bottom: 6px;
}

span {
  color: var(--main-text);
}

div.sheet-tab-selection {
  border-bottom: var(--oneSolidBorder);
  column-gap: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

button.sheet-tab-selection-option {
  background-color: var(--background);
  border: 1px transparent solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: var(--main-text);
}

button.sheet-tab-selection-option:hover {
  background-color: var(--border);
  border: var(--oneSolidBorder);
  border-bottom: 1px transparent solid;
  transition-duration: 0.2s;
}

.sheet-tab-combat,
.sheet-tab-config,
.sheet-tab-journal,
.sheet-tab-mecha,
.sheet-tab-pilot {
  background-color: var(--background);
  border: var(--oneSolidBorder);
  border-top: none;
  color: var(--main-text);
  padding: 12px 6px;
}

.sheet-creditation {
  background-color: var(--background);
  border: var(--oneSolidBorder);
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-style: italic;
  padding: 3px 6px;
}

.sheet-tab-config select {
  background: var(--background);
  border: var(--oneSolidBorder);
  color: var(--main-text);
}

.sheet-config-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sheet-config-option {
  margin: 6px;
}

select.sheet-no-dropdown {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select.sheet-no-dropdown::-ms-expand {
  display: none;
}
